In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("https://reneshbedre.github.io//assets/posts/anova/onewayanova.txt", sep="\t")

In [3]:
df

    A   B   C   D
0  25  45  30  54
1  30  55  29  60
2  28  29  33  51
3  36  56  37  62
4  29  40  27  73

In [4]:
df.describe()

               A          B          C          D
count   5.000000   5.000000   5.000000   5.000000
mean   29.600000  45.000000  31.200000  60.000000
std     4.037326  11.202678   3.898718   8.514693
min    25.000000  29.000000  27.000000  51.000000
25%    28.000000  40.000000  29.000000  54.000000
50%    29.000000  45.000000  30.000000  60.000000
75%    30.000000  55.000000  33.000000  62.000000
max    36.000000  56.000000  37.000000  73.000000

In [5]:
df.isna().sum()

A    0
B    0
C    0
D    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [7]:
df.shape

(5, 4)

In [8]:
import scipy.stats as stats

In [9]:
fvalue, pvalue = stats.f_oneway(df['A'], df['B'], df['C'], df['D'])

In [10]:
pvalue

2.639241146210922e-05

In [11]:
fvalue

17.492810457516338

Conclusion : 

Taking alpha as 0.05 [Significance level], I am 95% confident (1 - alpha) that the mean population of A, B, C, D are not equal since the p-value [Random Chance Probability] is less than 0.05