In [36]:
import numpy as numpy
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

/Users/manishanker.talusani/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  if __name__ == '__main__':

In [37]:
churn_df = pd.read_csv("https://raw.githubusercontent.com/divyanshu132/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")

In [38]:
churn_df

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0     1          15634602    Hargrave   619          France    Female  42   2       0.00       1              1          1               101348.88        1
1     2          15647311    Hill       608          Spain     Female  41   1       83807.86   1              0          1               112542.58        0
2     3          15619304    Onio       502          France    Female  42   8       159660.80  3              1          0               113931.57        1
3     4          15701354    Boni       699          France    Female  39   1       0.00       2              0          0               93826.63         0
4     5          15737888    Mitchell   850          Spain     Female  43   2       125510.82  1              1          1               79084.10         0
...  ..               ...         ...   ...            ...        ...  ..  ..             ... ..             ..         ..                    ...        ..
9995  9996       15606229    Obijiaku   771          France    Male    39   5       0.00       2              1          0               96270.64         0
9996  9997       15569892    Johnstone  516          France    Male    35   10      57369.61   1              1          1               101699.77        0
9997  9998       15584532    Liu        709          France    Female  36   7       0.00       1              0          1               42085.58         1
9998  9999       15682355    Sabbatini  772          Germany   Male    42   3       75075.31   2              1          0               92888.52         1
9999  10000      15628319    Walker     792          France    Female  28   4       130142.79  1              1          0               38190.78         0

[10000 rows x 14 columns]

In [11]:
churn_df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [39]:
label_encoder = LabelEncoder()


churn_df['Geography'] = label_encoder.fit_transform(churn_df['Geography'])

churn_df['Gender'] = label_encoder.fit_transform(churn_df['Gender'])

In [40]:
churn_df

      RowNumber  CustomerId  Surname  CreditScore  Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0     1          15634602    1115     619          0          0       42   2       0.00       1              1          1               101348.88        1
1     2          15647311    1177     608          2          0       41   1       83807.86   1              0          1               112542.58        0
2     3          15619304    2040     502          0          0       42   8       159660.80  3              1          0               113931.57        1
3     4          15701354    289      699          0          0       39   1       0.00       2              0          0               93826.63         0
4     5          15737888    1822     850          2          0       43   2       125510.82  1              1          1               79084.10         0
...  ..               ...     ...     ...         ..         ..       ..  ..             ... ..             ..         ..                    ...        ..
9995  9996       15606229    1999     771          0          1       39   5       0.00       2              1          0               96270.64         0
9996  9997       15569892    1336     516          0          1       35   10      57369.61   1              1          1               101699.77        0
9997  9998       15584532    1570     709          0          0       36   7       0.00       1              0          1               42085.58         1
9998  9999       15682355    2345     772          1          1       42   3       75075.31   2              1          0               92888.52         1
9999  10000      15628319    2751     792          0          0       28   4       130142.79  1              1          0               38190.78         0

[10000 rows x 14 columns]

In [14]:
churn_df.Geography.value_counts()

0    5014
1    2509
2    2477
Name: Geography, dtype: int64

In [41]:
churn_df.Surname.value_counts()

2473    32
1689    29
2389    29
2751    28
336     26
        ..
2090    1
43      1
1557    1
1533    1
2027    1
Name: Surname, Length: 2932, dtype: int64

In [42]:
from sklearn.feature_selection import chi2

In [ ]:
X = churn_df.drop('Exited',axis=1)
y = churn_df['Exited']

In [ ]:
categorical_columns = ["Surname", "Geography", "Gender", "Tenure", "NumOfProducts", "HasCrCard", "IsActiveMember"]

In [ ]:
chi_scores = chi2(X, y)

In [18]:
# Label encoder ??

In [23]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [24]:
# fit_transform
# inverse_transform

In [27]:
le.fit_transform(["paris", "paris", "paris", "bangalore", "kenya", "bangalore", "tokyo", "amsterdam"])

array([3, 3, 3, 1, 2, 1, 4, 0])

In [28]:
le.inverse_transform([0, 3, 1, 0])

array(['amsterdam', 'paris', 'bangalore', 'amsterdam'], dtype='<U9')

In [29]:
le_gender = LabelEncoder()

In [33]:
abc = le_gender.fit(["Male", "Female", "Male", "Female"])
abc

LabelEncoder()

In [30]:
le_gender.fit_transform(["Male", "Female", "Male", "Female"])

array([1, 0, 1, 0])

In [35]:
le_gender.inverse_transform([0,1,1,0])

array(['Female', 'Male', 'Male', 'Female'], dtype='<U6')