In [15]:
import pandas as pd
from scipy.stats import ttest_ind, ttest_ind_from_stats
np.random.seed(12345678)
import numpy as np

In [16]:
# read data
data = pd.read_csv("https://raw.githubusercontent.com/mahat/TtestExample/master/dataset/MPG_DataSet.csv", sep=';')

In [17]:
data

     USA  Japan
0     18     24
1     15     27
2     18     27
3     16     25
4     17     31
..   ...    ...
244   27   -999
245   27   -999
246   32   -999
247   28   -999
248   31   -999

[249 rows x 2 columns]

In [18]:
USAMpg = data['USA'].values
JapanMpg = data['Japan']
JapanMpg_new = JapanMpg[JapanMpg != -999].values

In [19]:
# print(f'USA data length {len(USAMpg)} {len(USAMpg)} {len(USAMpg)}')
# print(f'Japan data length {len(JapanMpg_new)}')

In [20]:
# print('USA data length %d %d' % (len(USAMpg), len(JapanMpg_new)))

In [21]:
# print('USA & Japan data length %d' % len(USAMpg), len(JapanMpg_new))

In [22]:
print('USA data length %d' % len(USAMpg))
print('Japan data length %d' % len(JapanMpg_new))

print('USA data mean %f' % USAMpg.mean())
print('Japan data mean %f' % JapanMpg_new.mean())

USA data length 249
Japan data length 79
USA data mean 20.144578
Japan data mean 30.481013

In [23]:
JapanMpg

0       24
1       27
2       27
3       25
4       31
      ...
244   -999
245   -999
246   -999
247   -999
248   -999
Name: Japan, Length: 249, dtype: int64

In [24]:
JapanMpg_new

array([24, 27, 27, 25, 31, 35, 24, 19, 28, 23, 27, 20, 22, 18, 20, 31, 32,
       31, 32, 24, 26, 29, 24, 24, 33, 33, 32, 28, 19, 32, 34, 26, 30, 22,
       22, 33, 39, 36, 28, 27, 21, 24, 30, 34, 32, 38, 37, 30, 31, 37, 32,
       47, 41, 45, 34, 33, 24, 32, 39, 35, 32, 37, 38, 34, 34, 32, 33, 32,
       25, 24, 37, 31, 36, 36, 34, 38, 32, 38, 32])

In [25]:
np.var(USAMpg)

40.98311317559395

In [26]:
np.var(JapanMpg_new)

36.83191796186508

In [27]:
# np.std(USAMpg)

In [31]:
# H1_0(null hypothesis): two means are equal

# Significance Level = 0.05

significance = 0.05
t, p = ttest_ind(USAMpg, JapanMpg_new, equal_var=False)
print("null hypothesis: MPG means of USA and Japan are equal")
print("t-value = %g  p-value = %g  alpha = %g" % (t, p, significance))

# H1_1: two means are not equal
if p < significance:
    print ('Reject Null hypothesis--> Population mean MPG of Japan & USA not equal')
else:
    print ('Fails to reject Null hypothesis')

null hypothesis: MPG means of USA and Japan are equal
t-value = -12.9463  p-value = 1.57085e-25  alpha = 0.05
Reject Null hypothesis--> Population mean MPG of Japan & USA not equal